<h2>Movies</h2>



{{#each movies as |movie index|}}
<h3>
  <a href="/movie/{{movie.title}}">{{movie.title}}</a>
</h3>
{{/each}}



<!-- <form action="/movie" method="post">
  <input name="movie[name]" type="text" placeholder="Name"/>
    <input name="movie[year]" type="number" placeholder="Year"/>
    <button type="submit">Run for Office</button>
</form> -->
